name: Watch EA Cards

on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *"   # toutes les 10 min

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run watcher
        env:
          WATCH_URL: ${{ secrets.WATCH_URL }}
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          URL_TEMPLATE: ${{ secrets.URL_TEMPLATE }}
        run: python watcher_discord.py

      - name: Commit updated seen.json (if changed)
        run: |
          if git diff --quiet --exit-code seen.json; then
            echo "No changes in seen.json"
          else
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add seen.json
            git commit -m "Update seen.json [skip ci]"
            git push
          fi
